html, body {
    margin: 0;
    padding: 0;
}

p, h1 {
    width: 80%;
    padding: 0px;
}

#section-1 {
    position: fixed;
    left: 0;
    top: 50px;
    padding: 0 10% 0 10%;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
}

#section-2 {
    position: fixed;
    left: 0;
    top: 250px;
    padding: 0 10% 0 10%;

    width: 80%;
    display: flex;
    justify-content: flex-end;
}

#section-2 > p {
    padding: 20px;
}

.banner {
    margin: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 160px;
    justify-content: center;
    background-color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: green;
}

li {
    list-style-type: none;
}

li > a {
    text-decoration: none;
    color: white;
}
