body {
    margin: 0;
    padding: 0;
}

p, h1 {
    width: 80%;
    padding: 0px;
}

li {
    padding: 0 10px 0 10px;
}

#section-1 {
    position: fixed;
    left: 0;
    top: 50px;
    padding: 0 10% 0 10%;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
}

#section-2 {
    position: fixed;
    left: 0;
    top: 250px;
    padding: 0 8.5% 0 8.5%;

    width: 80%;
    display: flex;
    justify-content: flex-end;
}

#section-2 > p {
    padding: 2%;
}

.banner {
    margin: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 10%;
    justify-content: flex-start;
    background-color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0 0% 0 0%;
    justify-content: space-between;
    background-color: green;
}

.footer-left {
    width: 15%;
    display: flex;
    justify-content: space-around;
}

.footer-right {
    background-color: black;
    width: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

li > a {
    text-decoration: none;
    color: white;
}